/* CSS Document */

#title {
	width: 590px;
	height: 115px;
	float: right;
	background: url("../images/admintitle.jpg") no-repeat;
}
#leftmainsection {
	background: url("../images/leftadmintitle.jpg") no-repeat top left;
	width: 150px;
	height: 25px;
}


#adminnav  {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
	width: 150px;
	height: auto; 
	font-size: 0.9em;
	background-color: #272727;
	letter-spacing: 0.05em;
}
#adminnav li {
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	width: 150px;
	height: auto;
	text-align: right;
	background-color: #272727;
}
#adminnav li a {
	text-decoration: none;
	width: 130px;
	height: 25px;
	display: block;
	margin-right: 5px;
}

#adminnav li ul  {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 0.5em;
	left: 150px;
	background-color: #272727;
}
#adminnav li ul li {
	width: 150px;
	height: 25px;
	margin: 3px 0;
}
#adminnav li ul a  {
	text-decoration: none;
	width: 150px;
	height: 25px;
	display: block;
	background-color: #272727;
}

#adminnav li:hover ul, #adminnav li.over ul{
	display: block;
}
#adminnav a:link, #adminnav a:visited {
	color: #999999;
	background-color: inherit;
	text-decoration: none;
}
#adminnav a:hover, #adminnav a:active {
	color: #000000;
	background-color: #666666;
}
