Options +FollowSymLinks
RewriteEngine On

RewriteBase /

RewriteCond %{HTTP_HOST} ^theundergroundrailroad\.org$ [NC]
RewriteRule ^(.*)$ http://www.theundergroundrailroad.org/$1 [R=301,L]

php_value magic_quotes_gpc 0
php_value magic_quotes_runtime 0
php_value magic_quotes_sybase 0
php_value register_globals 0

php_value auto_prepend_file /home/undergroundrailroad/includes/begin_caching.php
php_value auto_append_file /home/undergroundrailroad/includes/end_caching.php

# 1 Month
<FilesMatch "\\.(flv|gif|jpg|jpeg|png|ico|swf)$">
   Header set Cache-Control "max-age=2592000"
</FilesMatch>

# 1 Week
<FilesMatch "\\.(js|css|pdf|txt)$">
   Header set Cache-Control "max-age=604800"
</FilesMatch>

# don't rewrite these folders
RewriteRule ^css/.*$ - [PT]
RewriteRule ^images/.*$ - [PT]
RewriteRule ^javascripts/.*$ - [PT]
RewriteRule ^media/.*$ - [PT]
RewriteRule ^handbook/.*$ - [PT]
RewriteRule ^makexml.php - [PT]
RewriteRule ^sitemap.xml - [PT]
RewriteRule ^site.swf - [PT]

RewriteRule /*index\.php - [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ /index.php?category=$1&page=$2&subpage=$3&record=$4 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ /index.php?category=$1&page=$2&subpage=$3 [L]
RewriteRule ^([^/]+)/([^/]+)/?$ /index.php?category=$1&page=$2 [L]
RewriteRule ^([^/]+)/?$ /index.php?category=$1 [L]
RewriteRule ^index/?$ /index.php?category=main&page=home&subpage=index&record=$$4 [L]

Redirect permanent handbook.theundergroundrailroad.org/index.html http://www.theundergroundrailroad.org/ministryhandbook/ 



Redirect permanent theundergroundrailroad.org/undergroundministryhandbook.doc http://www.theundergroundrailroad.org/media/undergroundministryhandbook.pdf

Redirect permanent /site.swf http://www.theundergroundrailroad.org/