rewriteEngine on
rewriteRule ^sitemap\.php$ http://www.theundergroundrailroad.org/ministryhandbook/ [R=permanent,L]
rewriteRule ^$ http://www.theundergroundrailroad.org/ministryhandbook/ [R=permanent,L]
rewriteRule ^index\.php$ http://www.theundergroundrailroad.org/ministryhandbook/ [R=permanent,L]
rewriteRule ^specificsubcultures\.php$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/ [R=permanent,L]
rewriteRule ^typesofministry\.php$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/ [R=permanent,L]
rewriteRule ^introduction\.php$ http://www.theundergroundrailroad.org/ministryhandbook/introduction/ [R=permanent,L]
rewriteRule ^methodsofoutreach\.php$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/ [R=permanent,L]
rewriteRule ^methodsofoutreach/startingcoffeehouse\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/coffeehouse-outreach/ [R=permanent,L]
rewriteRule ^methodsofoutreach/bringingbands\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/bringing-in-bands/ [R=permanent,L]
rewriteRule ^methodsofoutreach/emergingstreetministry\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/redefine-street-ministry/ [R=permanent,L]
rewriteRule ^methodsofoutreach/feedingpoor\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/feeding-the-poor/ [R=permanent,L]
rewriteRule ^methodsofoutreach/film\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/reaching-through-film/ [R=permanent,L]
rewriteRule ^methodsofoutreach/livingonstreet\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/living-on-street/ [R=permanent,L]
rewriteRule ^methodsofoutreach/maxlifehouseparties\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/house-parties/ [R=permanent,L]
rewriteRule ^methodsofoutreach/partyarea\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/reaching-party-area/ [R=permanent,L]
rewriteRule ^methodsofoutreach/undergroundmusic\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/underground-music/ [R=permanent,L]
rewriteRule ^methodsofoutreach/performanceart\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/performance-art/ [R=permanent,L]
rewriteRule ^methodsofoutreach/undergroundmoms\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/underground-moms/ [R=permanent,L]
rewriteRule ^methodsofoutreach/dealingwithdarkness\.html$ http://www.theundergroundrailroad.org/ministryhandbook/outreachmethods/dealing-with-spiritual-darkness/ [R=permanent,L]
rewriteRule ^introduction/ministeringtosubcultures\.html$ http://www.theundergroundrailroad.org/ministryhandbook/introduction/ministering-to-subcultures/ [R=permanent,L]
rewriteRule ^introduction/understandingsubcultures\.html$ http://www.theundergroundrailroad.org/ministryhandbook/introduction/understanding-subcultures/ [R=permanent,L]
rewriteRule ^introduction/identityissues\.html$ http://www.theundergroundrailroad.org/ministryhandbook/introduction/identity-issues/ [R=permanent,L]
rewriteRule ^introduction/inbutnotof\.html$ http://www.theundergroundrailroad.org/ministryhandbook/introduction/in-not-of/ [R=permanent,L]
rewriteRule ^introduction/worldview\.html$ http://www.theundergroundrailroad.org/ministryhandbook/introduction/worldview/ [R=permanent,L]
rewriteRule ^typesofministry/postmodernchurch\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/postmodern-church/ [R=permanent,L]
rewriteRule ^typesofministry/plantingundergroundchurch\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/planting-underground-church/ [R=permanent,L]
rewriteRule ^typesofministry/alternativeworship\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/alternative-worship/ [R=permanent,L]
rewriteRule ^typesofministry/undergroundworship\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/underground-worship/ [R=permanent,L]
rewriteRule ^typesofministry/cyberministry\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/cyber-ministry/ [R=permanent,L]
rewriteRule ^typesofministry/discipleship\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/discipleship-experiences/ [R=permanent,L]
rewriteRule ^typesofministry/hiphopnightclub\.html$ http://www.theundergroundrailroad.org/ministryhandbook/typesofministry/church-in-night-club/ [R=permanent,L]
rewriteRule ^specificsubcultures/canachristianbegothic\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/christian-gothic/ [R=permanent,L]
rewriteRule ^specificsubcultures/gothicindustrialmetal\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/gothic-industrial-metal/ [R=permanent,L]
rewriteRule ^specificsubcultures/hippies\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/hippies-travelers/ [R=permanent,L]
rewriteRule ^specificsubcultures/historyofpunk\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/history-of-punk/ [R=permanent,L]
rewriteRule ^specificsubcultures/ministeringtogoths\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/ministering-to-goths/ [R=permanent,L]
rewriteRule ^specificsubcultures/punkhardcore\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/punk-hardcore/ [R=permanent,L]
rewriteRule ^specificsubcultures/ravers\.html$ http://www.theundergroundrailroad.org/ministryhandbook/specificcultures/ravers/ [R=permanent,L]